%div.menuNav{"ng-controller" => "userCtrl"}
  %a{"ng-click" => "isCollapsed = !isCollapsed"}
    %span
      %i.fa.fa-bars
      %div{:collapse => "!isCollapsed"}
        %div.userlinks
          %a{:href => "#/"} HOME
          %a{:href => "#/profile"} PROFILE
          .pull-right
          = user_login_links

%ng-view
