<div class="container">
  <h1>Username Here</h1>
  <div class="navbar">
    <a href="">github link</a>
    <a href="mailto:emailaddress@email.com">email link</a>
  </div>
  <div class="bio">
    <h2>ABOUT USER</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque rerum corporis at officia aliquid eum. Natus nobis ratione, voluptas asperiores, odit similique accusamus! Alias facilis nemo, labore esse expedita, ullam?</p>
  </div>
  <div class="skills">
    <h2>USER STRENGHTS</h2>
      <ul>
        <li>strength</li>
        <li>strength</li>
        <li>strength</li>
      </ul>
    <h2>USER STRUGS</h2>
      <ul>
        <li>strugs</li>
        <li>strugs</li>
        <li>strugs</li>
      </ul>
  </div>
</div>
