<div class="container">
  <h1>{{currentUser.first_name}} {{currentUser.last_name}}</h1>
  <a href="/users/edit">Edit Profile</a>
  <div class="bio">
    <h2>About Me</h2>
    <div class="navbar">
      <a href="http://github.com/{currentUser.github}}">{{currentUser.github}}</a>
      <a href="mailto:{{currentUser.email}}">{{currentUser.email}}</a>

    </div>
    <p>{{currentUser.bio}}</p>
  </div>
  <div class="skills">
    <h2>Current Strength</h2>
      <ul>
        <li>{{currentUser.strengths}}
      </ul>
    <h2>I Need Help With </h2>
      <ul>
        <li>{{currentUser.weakness}} - <a href="">Get Help</a></li>
        <ul ng-repeat="user in Users | matchFilter : currentUser">
          <li>{{user.first_name}}</li>
        </ul>
      </ul>
  </div>
</div>
<div class="edit" ng-show="edit">
<form action="" ng-submit="editUser($index)" >
  <input type="text" ng-model="currentUser.first_name" placeholder="{{currentUser.first_name}}">
  <input type="text" ng-model="currentUser.last_name" placeholder="{{currentUser.last_name}}">
  <input type="text" ng-model="currentUser.github" placeholder="{{currentUser.github}}">
  <textarea name="bio" placeholder="Bio" ng-model="currentUser.bio" id="" cols="30" rows="10">{{currentUser.bio}}</textarea>
  <br>
  <p>Strengths</p>

  <button type="submit">Submit</button>

</form>
</div>
