<div class="container">
  <h1>{{student.first_name}} {{student.last_name}}</h1>
  <div class="navbar">
    <a href="">{{student.github}}</a>
    <a href="mailto:{{student.email}}">email link</a>
  </div>
  <div class="bio">
    <h2>About {{student.first_name}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque rerum corporis at officia aliquid eum. Natus nobis ratione, voluptas asperiores, odit similique accusamus! Alias facilis nemo, labore esse expedita, ullam?</p>
  </div>
  <div class="skills">
    <h2>{{student.first_name}}'s Strengths</h2>
      <ul ng-repeat="strength in student.strengths">
        <li>{{strength}}</li>
      </ul>
    <h2>{{student.first_name}} Needs Help With </h2>
      <ul ng-repeat="strug in student.strugs">
        <li>{{strug}}</li>

      </ul>
  </div>
</div>
