$black: rgb(24, 24, 24);
$grey: rgb(48, 48, 48);
$sea: rgb(161, 226, 214);
$ltgrey: rgb(71, 71, 71);
$bkg: rgb(5, 5, 5);
$white: rgb(239, 239, 239);
$moodSea: rgb(56, 188, 151);


.appBody{
  margin: 0;
  font-family: 'Open Sans Condensed';
  width: 100%;
  color: $white;
  background-color: $bkg;
  a{
    color: $sea;
    &:hover{
      color: $moodSea;
    }
  }

}

/* MENU ICON NAV AT TOP */
.menuNav{
  width: 100%;
  text-align: right;
  font-family: 'Open Sans Condensed';
  padding: 0;
  margin: 0;
  position: fixed;
  span{
    padding-right: 20px;
  }
  a{
    font-size: 35px;
    color: lightgrey;
    text-align: right;
  }
  a:hover{
    color: $sea;
    cursor: pointer;
  }
  .userlinks{
    a{
      padding-right: 20px;
      font-size: 25px;
      display: block;
      clear: both;
    }
  }
}

/* LOGIN PAGE STUFF */
.loginPage{
  width: 28%;
  margin: auto;
  margin-bottom: 50px;
  h2{
    font-size: 50px;
    text-align: center;
  }
  .logEmail{
    label{
      font-size: 25px;
    }
    input{
      color: $grey;
    }
  }
  .logPW{
    label{
      font-size: 25px;
    }
    input{
      color: $grey;
    }
  }
  .logCheck{
    label{
      font-size: 18px;
    }
  }
  .logCheck{
    label{
      font-size: 18px;
    }
  }
  .loginButton{
    color: $black;
  }
}
.logForm{
  width: 55%;
  margin: auto;
}
.logo{
  width: 50%;
  height: 350px;
  margin: auto;
  clear: both;
  background-image: url("giphy.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .codependent{
    margin: 0;
    font-size: 78px;
    font-weight: lighter;
    position: absolute;
    color: white;
    top: 20%;
    left: 32%;
    text-shadow: 0px 1px 6px $ltgrey;
  }
}

/* MAIN.HTML */
.container{
  .logo{
    width: 50%;
    height: 350px;
    margin: auto;
    clear: both;
    position: relative;
    background-image: url("giphy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .codependent{
      margin: 0;
      font-size: 78px;
      font-weight: lighter;
      position: absolute;
      color: white;
      top: 36%;
      left: 7%;
      text-shadow: 0px 1px 6px $ltgrey;
    }
  }
  .cardCont{
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .userCard{
    letter-spacing: 1px;
    padding: 8px;
    display: inline-block;
    width: 20%;
    height: 300px;
    overflow-y: scroll;
    vertical-align: top;
    margin: 10px;
    margin-bottom: 30px;
    border: 1px solid $ltgrey;
    box-shadow: none;
    transition: all .5 ease;
    text-align: center;
    &:hover{
      box-shadow:0 0 1em white;
      transition: all .7s ease;
    }

  }
}

/* PROFILE.HTML */
.mainProfile{
  font-family: 'Open Sans Condensed';
  width: 100%;
  margin: auto;
  margin-top: 10px;
  h1{
    font-size: 70px;
    margin-bottom: 20px;
  }
  text-align: center;
  aside{
    width: 48%;
    float: left;
    vertical-align: top;
    margin-right: 8px;
    display: block;
    text-align: right;
    img{
      border: 10px solid $white;
    }
    p{
      font-size: 14px;
      text-align: center;
    }
  }
  section{
    text-align: left;
    width: 48%;
    float: left;
    margin-bottom: 60px;
    margin-left: 8px;
    p{
      font-size: 18px;
    }
    h2{
      margin-top: 0px;
    }
    h3{
      margin-top: 0px;
    }
    .helpButton{
      margin-top: 8px;
      font-size: 20px;
      padding: 3px;
      border: 1px solid $sea;
      &:hover{
        border: 1px solid $moodSea;
      }
    }
  }
}

.myTutors{
  width: 700px;
  margin: auto;
  margin-top: 50px;
}


.profSettings{
  form{
    input{
      color: black;
    }
    label{
      font-size: 18px;
    }
  }
}
